.example-container {
    height: 400px;
    overflow: auto;
  }
  .example-container2{
    height: 470px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .custom-header {
    /* background-color: blue; */
    color: black; /* Optional: Set text color to white for better visibility */
    border-radius: 2px;
    text-align: center;
  }
  th{
    text-align: center;
    border-radius: 1px;
    border-color: black;
  }
  td{
    text-align: center;
    border-radius: 1px;
    border-color: black;
  }

  h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .icons{
    height: 17px;
    width: 17px;
  }
  .body{
    margin-top: 100px;
  }
  .calender{
    height: 400px;
  }